.showcase-20 {
  height: 20vh;
}
.showcase-30 {
  height: 30vh;
}
.showcase-40 {
  height: 40vh;
}
.showcase-50 {
  height: 50vh;
}
.showcase-60 {
  height: 60vh;
}
.showcase-100 {
  height: 100vh;
}
